.header {
  // nav
  .nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    // ul list
    .__links {
      display: flex;
      justify-content: space-around;
      // single link
      .__link {
        padding: 1rem;
        // single item
        .__item {
          font-size: 1.4rem;
        }
      }
    }
  }
  // burger-menu
  // .burger-menu {
  //   display: none;
  // }
}
