.header {
  // nav
  .nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // ul list
    .__links {
      display: flex;
      justify-content: space-around;
      // single link
      .__link {
        padding: 1rem;
        // single item
        .__item {
          font-size: 1.4rem;
        }
      }
    }
  }
}
