#hero {
  min-height: 90vh;
  width: 95%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: opening 0.4s ease-in;
  // text
  .__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //  title
    .title {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
    .subtitle {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      text-align: center;
      margin: 3rem;
    }
    a {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: black;
      border-bottom: 1px solid black;
    }
  }
  //  img
  .__images {
    margin-right: 5rem;
    position: relative;

    .tattoo1 {
      object-fit: cover;
      width: 60vw;
      height: 80vh;
    }
    .tattoo2 {
      z-index: 1;
      top: 30%;
      animation: rotate-img 1s ease-in-out;
      transform-origin: bottom;
    }

    .tattoo3 {
      object-fit: cover;
      z-index: 3;
      left: 10%;
      top: 65%;
      animation: 1s move-tattoos ease-in-out;
      transform-origin: right;
    }
    //  tattoo
    .tattoo {
      width: 30vw;
      height: 45vh;
      position: absolute;
      bottom: 0;
      right: -6%;
      // animation: move-tattoos 1s ease-in-out;
    }
  }
}
