@include media-md {
}

@include media-lg {
}

@include test {
  //   burger menu
  .burger-menu span {
    padding: 0.2rem 2rem;
    background-color: $gray-text-color;
    margin: 0.5rem 0;
    display: block;
  }
  //  nav links
  .__links {
    background: $main-color;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .__link {
      .__item {
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }
  }
}
